# Introduction to **`pandas`**

`pandas` is a data science package orignally developed by [**Wes McKinney**](https://wesmckinney.com/).  It builds on top of `numpy` to provide a higher level API for wrangling, analysing and visualising data.  It is also closely coupled to `matplotlib` with a number of shorthand methods to create plots of data.

In practice, I often use **both** `numpy` and `pandas` for **data wrangling**: switching between them (which is straightforward) when needed as each offers different benefits.

For your Machine Learning and Data Science career you will find `pandas` very useful indeed.  It is very easy to import data from a variety of sources e.g. CSV or a database. (It also works with Excel, but I'd encourage you to not use Excel formatted files - save it as a CSV instead).

**Read the full docs here: https://pandas.pydata.org/**

> The higher level API offered by `pandas` comes at the cost of efficency i.e. execution speed.  **This statement is relative to `numpy`** which approaches the speed of `C`. I emphasise that `pandas` is still fast especially compared Microsoft Excel. However, in general `pandas` is not recommended for implementing high performance computational algorithms over and above `numpy`.

---

## Imports

We usually use the alias `pd` when import `pandas`

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
print(pd.__version__)
print(np.__version__)

## The `pd.Series` and `pd.DataFrame` classes

The central contribution of the `pandas` package to data science in python are the `Series` and `DataFrame` class.  These provide the high level abstraction of data.

### **`pd.Series`**

If you are familiar with analysing tabular data in a software package like *stata*, *spss* or *Excel* then you can think of a series as a column of data.

The example below:

* Create a variable called `column1` of type `pd.Series`
* `column1` has 10 rows (a sequence of 1 to 10).
* The data in column 1 has a data type of 8-bit unsigned integer (0 - 255)

In [ ]:
# create a series
column1 = pd.Series(np.arange(1, 10), name='unique_id', 
                    dtype=np.uint8)
column1

In [ ]:
# data type
type(column1)

In [ ]:
# shape
column1.shape

Another way to do this would have been to ignore the data type and name parameters.  Notice now that `pandas` has defaulted to `int64` for the data.  

> Depending on your application, this may or may not be a big deal.  But note that it uses more memory. `int64` is equivalent to Python's `int` and C's `long` type: `-9_223_372_036_854_775_808` to `9_223_372_036_854_775_807`.

In [ ]:
# create a series just passing data.
column2 = pd.Series(np.arange(1, 10))
column2

In a data science application its likely you will have a very large column of data.  You can take a look at the head or tail of the `Series` by using the `.head()` and `.tail()` methods

In [ ]:
# 10,000 rows. uint16 = 0 - 65_535
column3 = pd.Series(np.arange(1, 10_000), name='longer', 
                    dtype=np.uint16)
column3.head()

In [ ]:
# To view more or less rows
column3.head(2)

In [ ]:
column3.tail()

In [ ]:
# side note: to drop to numpy
column3.to_numpy()

###Â **`pd.DataFrame`**

For most machine learning applications you will be working with a full `DataFrame`. 

The data you will use is likely to be imported from an external data source, such as a Comma Seperated Value (CSV) file or large scale database such as PostgreSQL.  But while you build familiarity with DataFrames we will look at building them manually.  

> Building `DataFrames` manually is quite handy for practice, as I often use dataframes to summarise the results of computational procedures and simulations.  `DataFrames` can also generate LaTeX which is handy for quickly producing tables of results for a report/paper I am writing in LaTeX.

In [ ]:
# create 5 x 4 matrix
raw_data = np.arange(20, dtype=np.uint8).reshape(5, -1)
raw_data.shape

In [ ]:
raw_data

In [ ]:
df = pd.DataFrame(raw_data)
df.columns = (['col_' + str(i) for i in range(df.shape[1])])
df.info()

In [ ]:
# its a small matrix so lets view it all
df

In [ ]:
#for bigger `DataFrames` use .head()/.tail()
df.head(2)

In [ ]:
# access a named column
df['col_3']

In [ ]:
# alternative approach for accessing
df.col_3

In [ ]:
# side bar 1 - let's ignore the datatype. 
# the size in memory is almost double.
raw_data = np.arange(20).reshape(5, -1)
df = pd.DataFrame(raw_data)
df.columns = (['col_' + str(i) for i in range(df.shape[1])])
df.info()

In [ ]:
# side bar 2: drop to numpy
df.to_numpy()

### Creating a `pd.DataFrame` from python lists

In the previous example we created a `DataFrame` from a `numpy.ndarray`.  But a `DataFrame` or `Series`can be created from anything *array-like*.  So for example, we could work with one or more python lists.

In [ ]:
# creating an individual series
thrash_metal_bands = pd.Series(['pantera', 'metallica', 'megadeth',
                                'anthrax'])
thrash_metal_bands

In [ ]:
# create a full data frame

# each column is defined as a seperate list
band_name = ['pantera', 'metallica', 'megadeth', 'anthrax']
n_albums = [9, 10, 15, 11]
formed = [1981, 1981, 1983, 1981]
still_active = [0, 1, 1, 1]

# empty dataframe
thrash_metal_bands = pd.DataFrame()

# create new columns from lists
thrash_metal_bands['band'] = band_name
thrash_metal_bands['n_albums'] = n_albums
thrash_metal_bands['yr_formed'] = formed
thrash_metal_bands['active'] = still_active

thrash_metal_bands

In [ ]:
# take a look at the df summary information.
thrash_metal_bands.info()

In [ ]:
# could also be specific about datatype using pd.Series 
thrash_metal_bands = pd.DataFrame()

thrash_metal_bands['band'] = pd.Series(band_name, dtype=str)
thrash_metal_bands['n_albums'] = pd.Series(n_albums, dtype=np.uint8)
thrash_metal_bands['yr_formed'] = pd.Series(formed, dtype=np.uint16)
thrash_metal_bands['active'] = pd.Series(still_active, dtype=bool)

thrash_metal_bands.info()

Note that in practice its also useful to know that you can create a `DataFrame` from a dict.  I often forget exactly what format my data need to be in, but luckily you can call the `.to_dict()` method of a `DataFrame` to see what is required. 

> This functionality has proved useful in practice as it is often useful to use a simple `dict` to track results of an algorithm.  At the end of the experiment the dict can quickly be cast to a `DataFrame` and easily viewed in a notebook.

In [ ]:
bands_dict = thrash_metal_bands.to_dict()
bands_dict

In [ ]:
# the code to use a dict looks like pandas code.
bands_dict['band']

In [ ]:
# reverse engineer
new_df = pd.DataFrame(bands_dict)
new_df

## `DataFrame` Indexes

In each of the examples so far you will notice that the first (unlabelled) a column is a sequence of arbitrary numbers.  This is the `DataFrame` index.  When we create a `DataFrame` manually an additional step is often to set the index to a column we have created.

In [ ]:
thrash_metal_bands.index

In [ ]:
# set the index to 'band' column
# note that this method returns a 'copy' unless we set 'inplace=True'
thrash_metal_bands.set_index('band', inplace=True)
thrash_metal_bands

## Accessing elements in a `DataFrame`

In nearly all data wrangling and analysis projects, you will want to explore subsets of your data.  This might be, for example, to eyeball the data close up or to calculate summary statistics for particular populations.  To do that in `pandas` we need to understand how we access individual and subsets or rows and columns in our `DataFrame`.  

For simplicity, we will again use `thrash_metal_bands`.

### Accessing Rows

To access an individal row we can use the `.loc` and `.iloc` accessors.  The former of these references by **name** while the latter references by **numeric index**.

In [ ]:
# return the records for panteria
thrash_metal_bands.loc['pantera']

In [ ]:
# return the records the row at index 2
thrash_metal_bands.iloc[2]

Note that we can return multiple rows if we supply a list of indexes.  For example to find records for both pantera and megadeth:

In [ ]:
to_find = ['pantera', 'megadeth']
thrash_metal_bands.loc[to_find]

Indexes can be sliced in a similar fashion to arrays

In [ ]:
# All rows from index 2 onwards
thrash_metal_bands.iloc[2:]

In [ ]:
# Rows 0 and 1
thrash_metal_bands.iloc[:2]

In [ ]:
# slicing by name
thrash_metal_bands.loc['pantera': 'megadeth']

### Accessing columns

We have already seen that accessing a column is done as so 

```python
df['column_name']
```

We can also select a multiple columns.

In [ ]:
# select yr_formed and active columns only
mask = ['yr_formed', 'active']
thrash_metal_bands[mask]

or restrict both columns and rows

In [ ]:
columns = ['yr_formed', 'active']
rows = ['pantera', 'anthrax']
thrash_metal_bands.loc[rows, mask]

### Selecting individual cells

To access an individual cell within a `DataFrame` use the `.at` and `.iat` accessors.  The former uses the index row and column names while the latter is an integer based lookup.

In [ ]:
# lookup the year pantera was formed.
thrash_metal_bands.at['pantera', 'yr_formed']

In [ ]:
# look up the cell value in position (1, 1)
thrash_metal_bands.iat[1, 1]

In [ ]:
# to update the individual value
# lookup the year pantera was formed.
thrash_metal_bands.at['pantera', 'yr_formed'] = 9999
thrash_metal_bands

# Reading data into pandas from a flat file

A common task is to work with data stored in one or more files. For example in a Comma Seperated Value (CSV) or other type of delimited (e.g. tab or pipe) file.  

There are a number of scenarios you may encounter:

1. The data file is held locally on your machine (or network drive)
2. The data file is accessed via a URL (e.g. it is located in GitHub or hosted on a third party website.)
3. The data file is compressed e.g. in a `.zip` format

> The good news is that reading from a local directory and reading from a remote URL is identical in `pandas`.  In both cases we can use the `pd.read_csv()` function specifying either the local path to the file or the url.

As an example let's read in the famous [Wisonsin Breast Cancer dataset](https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+%28Diagnostic%29) from Github.

In [ ]:
# Wisconsin breast cancer dataset URL
url = 'https://raw.githubusercontent.com/health-data-science-OR/' \
      + 'hpdm139-datasets/main/wisconsin.csv'

# read into dataframe
df = pd.read_csv(url, index_col='id')

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.head()

Now let's read in the same file, but this time it is compressed in .zip format.

In [ ]:
url = 'https://raw.githubusercontent.com/health-data-science-OR/' \
      + 'hpdm139-datasets/main/wisconsin.zip'
df = pd.read_csv(url, index_col='id')

In [ ]:
df.info()

## End