In [1]:
print('hello world')

hello world

In [2]:
print(f'1 + 1 = {1+1}!? and 2 + 2 = {2+2}!?')

1 + 1 = 2!? and 2 + 2 = 4!?

In [3]:
print(f'The number 3.14159 given to 2 decimal places is {3.14159:.2f}')

The number 3.14159 given to 2 decimal places is 3.14

In [4]:
print(f'The number 3.14159 given to 3 decimal places is {3.14159:.3f}')

The number 3.14159 given to 3 decimal places is 3.142

In [5]:
1 + 1

2

In [6]:
1 / 2

0.5

In [7]:
(1 + 2.3 * 4.5) / 6.7

1.6940298507462686

In [8]:
3**2

9

In [9]:
print(f'Addition: {2+2}')
print(f'Substraction: {7-4}')
print(f'Multiplication: {2*5}')
print(f'Division: {10/2}')
print(f'Exponentiation: {3**2}')
print(f'Modulo: {15%4}')

Addition: 4
Substraction: 3
Multiplication: 10
Division: 5.0
Exponentiation: 9
Modulo: 3

In [10]:
1 + 1
1 / 2
print(f'1 + 1 = {1+1}')

1 + 1 = 2

In [11]:
salary = 30_000
print(salary)
print(f'The value of the variable called salary is {salary}')

30000
The value of the variable called salary is 30000

In [12]:
number = 1.2
print(number)
number = 'One point two'
print(number)

1.2
One point two

In [13]:
salary = 30000
tax_rate = 0.2
salary_after_tax = salary * (1 - tax_rate)

print(salary_after_tax)

24000.0

In [14]:
salary = 30000
tax_rate = 0.2
salary_after_tax = salary * (1 - tax_rate)

print(type(salary))
print(type(salary_after_tax))

<class 'int'>
<class 'float'>

In [15]:
foo = True    # bool (Boolean)
bar = False   # bool (Boolean)
spam = 3.142  # float (floating point)
eggs = 10000000 # int (integer)
foobar = 'elderberrys' # str (string)

print(type(foo))
print(type(bar))
print(type(spam))
print(type(eggs))
print(type(foobar))

<class 'bool'>
<class 'bool'>
<class 'float'>
<class 'int'>
<class 'str'>

In [16]:
my_string = "This is a double-quoted string"
my_string = 'This is a single-quoted string'

In [17]:
quote = "Jack Reacher said, 'Hope for the best, plan for the worst'"
print(quote)

Jack Reacher said, 'Hope for the best, plan for the worst'

In [18]:
multi_line_string = '''triple quotes let us split strings
over mulitple lines'''

print(multi_line_string)

triple quotes let us split strings
over mulitple lines

In [19]:
# This an inline comment.
print("This line is not a comment, it is code.")

print("Python will ignore comments")  #comments can appear after code

This line is not a comment, it is code.
Python will ignore comments

In [20]:
import math

In [21]:
print(f'pi: {math.pi}')
print(f"Euler's Constant: {math.e}")

pi: 3.141592653589793
Euler's Constant: 2.718281828459045

In [22]:
print(f'Cosine of pi: {math.cos(math.pi)}')

Cosine of pi: -1.0

In [23]:
from math import pi, cos

print(f'Cosine of pi: {format(cos(pi))}')

Cosine of pi: -1.0

In [24]:
def my_add(a, b):
    """
    Returns the sum of two numeric values
    
    Parameters:
    ----------
    a: float
        first number
    b: float
        second number
    
    Returns:
    ------
    float
    """
    return a + b

In [25]:
help(my_add)

Help on function my_add in module __main__:

my_add(a, b)
    Returns the sum of two numeric values

    Parameters:
    ----------
    a: float
        first number
    b: float
        second number

    Returns:
    ------
    float

In [26]:
print(my_add(1, 1))
print(my_add(1.2, 4.5))

2
5.7

In [27]:
def pv(future_value, rate, n):
    '''
    Discount a value at defined rate n time periods into the future.
    
    Forumula:
    PV = FV / (1 + r)^n
    Where
    FV = future value
    r = the comparator (interest) rate
    n = number of years in the future
    
    Parameters:
    -----------
    future value: float
        the value to discount 
        
    rate: float
        the rate at which to do the discounting
    
    n: float
        the number of time periods into the future 
        
    Returns:
    --------
    float
    '''
    return future_value / (1 + rate)**n

In [28]:
#Test case 1
future_value = 2000
rate = 0.035
years = 5
result = pv(future_value, rate, years)

print(f'Using an interest rate of {rate}, a payment of £{future_value:.2f}'
       + f' in {years} years time is worth £{result:.2f} today')

#Test case 2
future_value = 350
rate = 0.01
years = 10
result = pv(future_value, rate, years)

print(f'Using an interest rate of {rate}, a payment of £{future_value:.2f}'
       + f' in {years} years time is worth £{result:.2f} today')

Using an interest rate of 0.035, a payment of £2000.00 in 5 years time is worth £1683.95 today
Using an interest rate of 0.01, a payment of £350.00 in 10 years time is worth £316.85 today

In [29]:
foo = [0, 1, 2, 3]
print(foo)

[0, 1, 2, 3]

In [30]:
bar = [0, 1.2, "hello", [3, 4]]
print(bar)

[0, 1.2, 'hello', [3, 4]]

In [31]:
print(len(foo))

4

In [32]:
print(foo[0])
print(foo[3])
print(bar[1])
print(bar[3])

0
3
1.2
[3, 4]

In [33]:
foo[1] = 10
print(foo)

[0, 10, 2, 3]

In [34]:
print(foo)
print(foo[0:2])
print(foo[:2])
print(foo[1:])
print(foo[0:4:2])
print(foo[::2])

[0, 10, 2, 3]
[0, 10]
[0, 10]
[10, 2, 3]
[0, 2]
[0, 2]

In [35]:
print(foo[-1])
print(foo[-2])
print(foo[-1:0:-1])

3
2
[3, 2, 10]

In [36]:
print(foo.index(10))

1

In [37]:
print(10 in foo)

True

In [38]:
print(11 in foo)

False

In [39]:
foo.append(12)
print(foo)

[0, 10, 2, 3, 12]

In [40]:
foo.insert(1,13)
print(foo)

[0, 13, 10, 2, 3, 12]

In [41]:
del foo[2]
print(foo)

[0, 13, 2, 3, 12]

In [42]:
unsorted = [5, 7, 6, 4, 3, 2, 1]
print(unsorted)

[5, 7, 6, 4, 3, 2, 1]

In [43]:
def super_hero_name(firstname, super_surname):
    return firstname + ' ' + super_surname

super_hero_name("tom", "the spider")

'tom the spider'

In [44]:
super_hero_name("tom", "ant-man")

'tom ant-man'